
#arb-order #arb-table{
  margin-bottom:3.2rem ;
} 
#arb-order .gender-desc{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
  margin:2rem 0rem;
}
#arb-order #gender-table th:last-child,
#arb-order #gender-table td:last-child{
  text-align: right;
}
.layer-desc{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
  margin-top: 3.2rem;
  margin-bottom: 2rem;
}
.layer-desc h3{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
.layer-desc p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
.send-result{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  margin-top: 3.2rem;
}
.send-result .save-first{
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 1.5rem 1.6rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #424242;
}
.send-result .save-now{
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FDA922;
  padding: 1.5rem  3.3rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #424242;
}