.main-modal{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height:100vh;
}
.modal-container{
  background-color: #fff;
  border-radius: 8px;
  padding: 7.9rem 9.4rem;
}
@media (max-width:800px) {
  .modal-container{
    margin:2rem;
    padding: 5.9rem 7.4rem;

  }
}
.modal-container h1{
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21.6px;
  text-align: center;
  color: #2E2E2E;
  margin-bottom: 3.2rem;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.button-container .order-solid{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 1.7rem 3.7rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  background-color: #D35252;
  color: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width:500px) {
  .button-container .order-solid{
    padding: 1.7rem 2.7rem;

  }
}
.button-container .return-outline{
  outline: none;
  border: 1px solid #FDA922;
  border-radius: 5px;
  padding: 1.7rem 5.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  color: #2E2E2E;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

