
@media (max-width:500px) {
  .main-container {
      grid-template-areas: "header header "
      "search search" "main main";
      grid-template-columns: 1fr 1fr;
      gap:0rem;
      grid-template-rows: 80px 80px;
  }
}

@media(max-width:500px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:500px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.main{
  position: relative;
}
.common-question-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.common-question-header img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.common-question-header h2{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
.message-container-detail{

}
.message-container-detail .message-detail{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  gap: 14.6rem;
  margin-bottom: 2rem;
}
@media (max-width:900px) {
  
.message-container-detail .message-detail{
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.6rem;
}
}
.message-detail-info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
@media (max-width:500px) {
  .message-detail-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  }
}
.message-detail-info h2{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 16.8px;
  text-align: right;
  color: #5F5F5F;
  text-wrap: nowrap;
}
.message-detail-info p{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16.8px;
  text-align: right;
  color: #5F5F5F;
  margin-bottom: 0px;
}
@media (max-width:900px){
  .message-data{
    margin-right: auto;
  }
}
.message-data p{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 14.4px;
  text-align: right;
  color: #5F5F5F;
  margin-bottom: 0px;
  text-wrap: nowrap;

}
.chat-container{
  display: flex;
  align-items: center;
  gap:2rem;  
  position: absolute;
  bottom: 3.2rem;
  right: 3.2rem;
  left: 3.2rem;
}
.chat-container .form-item{
  flex: 1;
}
.chat-container .upload-images{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.chat-container .upload-images img{
  cursor: pointer;
}
@media (max-width:800px){
  .chat-container{
    bottom: 0;
  }
}

#admin-question .common-question-header {
  align-items: center;
}
#admin-question .common-question-header h2{
  border-bottom: 1px solid #5F5F5F;
}
#admin-question .header{
  margin-bottom: 2.7rem;
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
}
.chat-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@media (max-width:500px) {
  .chat-filter{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.chat-filter .form{
  width: 20%;
}
@media (max-width:500px) {
  .chat-filter .form{
    width: 100%;
  }
}

.admin-chat-container{
  margin-top: 2rem;
}
.admin-chat-container .admin-chat-item{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 3.2rem;
  margin-bottom: 2rem;
}
@media (max-width:800px) {
  
.admin-chat-container .admin-chat-item{
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
}
.admin-chat-container .admin-chat-inner{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}


.admin-chat-container .admin-chat-inner img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.admin-chat-container .admin-chat-inner p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
  text-decoration: underline;
  margin-bottom: 1.4rem;
}
.admin-chat-container .admin-chat-inner p:last-child{
  margin-bottom: 0px;
}
.admin-chat-container .admin-chat-inner p:last-child{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
  text-decoration: none;
  margin-bottom: 0px;
}
.chat-date{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width:800px) {
  .chat-date{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
    margin-right:auto;
  }
}
.chat-date h5{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: #424242;
  padding: 0.6rem;
  background-color: #FDA92280;
  border-radius: 4px;
  width: fit-content;
  margin-bottom: 3.6rem;
}
@media (max-width:800px) {
  .chat-date h5{
    margin-bottom: 0px;
  }
}
.chat-date p{
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
  text-wrap: nowrap;
}
@media (max-width:500px) {
  
.chat-filter .header-search {
  width: 100%;
  margin-bottom: 2rem;
}
}
#inner-form-container{
  width: 100%;
}
.form-outer-label{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.form-outer-label p{
  margin-bottom: 0px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}
.inner-form{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.9rem;
}
@media (max-width:800px) {
  .inner-form{
    width: 100%;
  }
}
.inner-form .form-item{
  width: 100%;
}
.inner-form a{
  margin-top: 2rem;display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #167CC8;
  text-decoration: underline;
}
.text-container{
  margin-top: 2.9rem;
}
.text-container textarea{
  width: 100%;
  height: 289px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16.8px;
  color: #5F5F5F;
  padding: 2.4rem;
  resize: none;
}
.save-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.9rem;
}

.save-btn button{
  outline: none;
  border: none;
  background-color: #FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 6rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}

