.confirmation{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.confirmation-container{
  padding: 6.4rem 5.9rem;
  border-radius: 8px;
  background-color: #FFFFFF;
}
@media (max-width:600px) {
  
.confirmation-container{
  padding: 3rem 2rem;
  margin: 2rem;
}
}
.confirmation-container h2{
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 21.6px;
  text-align: center;
  color: #2E2E2E;
  margin-bottom: 0.8rem;
}
.confirmation-container p{
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16.8px;
  color: #2E2E2E;
  text-align: center;
  width: 400px;
}
.confirmation-container .confirmation-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.confirmation-container .confirmation-btn .sure{
  border:none;
  outline: none;
  background-color: #FDA922;
  border-radius: 5px;
  padding: 1.7rem 6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: center;
  color: #2E2E2E;
  box-sizing: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}
.confirmation-container .confirmation-btn .return{
  outline: none;
  border:1px solid #FDA922;
  background-color: transparent;
  border-radius: 5px;
  padding: 1.7rem 5.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: center;
  color: #2E2E2E;
  box-sizing: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}