
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.back-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.back-icon img{
  width: 24px;
  height: 44px;
  object-fit: cover;
}
.heading{
  margin-top: 3.2rem;
}
#controller-name .form-container{
  display: flex;
  align-items: center;
  gap:3.6rem
}

#controller-name label{
  margin-bottom: 2rem;
}
#controll-name .form .form-container .form-item1{
  width: 100%;
}
.controller-button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12.9rem;
}
.controller-button-container .controller-button{
  outline: none;
  border: none;
  background-color: #FDA922;
  border-radius: 5px;
  padding:1.7rem 3.8rem;
  box-shadow: 0px 0px 6px 0px rgba(46, 46, 46, 1);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}