#control-order.main-container-question{
  grid-template-rows: 80px 75px;
}
@media (max-width:800px) {
  .main-container-question {
    grid-template-areas: "header header " "question question" "main main";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
}
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
#control-order .question .question-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}
#control-order .question .question-header.active,
#control-order .question .question-header:hover{
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}
#control-order .question .question-header img{
  width: 26.32px;
  height: 26px;
  object-fit: cover;
}

#control-order .question .question-header p{
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
  line-height: 19.2px;
  color: #2E2E2E;
}
.control-numbers{
  display: flex;
  justify-content: flex-start;
  gap:1.2rem;
  align-items: center;
}
.control-numbers .controls-number-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}
@media(max-width:500px){
  .control-numbers{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
  }
  .control-numbers .controls-number-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
  }
}
.control-numbers .search-icon{
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.control-numbers .search-icon img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.control-numbers .control-number-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem;
}
.control-numbers .control-number-item.active,
.control-numbers .control-number-item:hover{
  border-bottom: 1px solid #167CC8;
}
.control-numbers .control-number-item p{
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: center;
  color: #2E2E2E;
}

.control-numbers .control-number-item .control-number{
  background-color: #167CC81A;
  padding: 0.8rem;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: right;
  color: #2E2E2E;
}

.table {
  margin-top: 1.2rem;
  padding: 0.8rem
}

.table>:not(caption)>*>* {
  padding: 1.5rem
}

@media (max-width:800px) {
  .table>:not(caption)>*>* {
      padding: 1.2rem
  }
}

@media (max-width:800px) {
  .table thead tr th {
      font-size: 1.2rem;
  }
}

.table thead tr th {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}

@media (max-width:800px) {
  .table thead tr th {
      font-size: 1.2rem;
  }
}
#number-table{
  color: #167CC8;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: right;
  line-height: 19.2px;
}
label.check-table,
.table tbody tr td {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}

@media (max-width:800px) {
  label.check-table,
  .table tbody tr td {
      font-size: 1.6rem;
      text-wrap: nowrap;
  }
}

.table .form-check-input {
  float: right;
  margin-left: 0.6rem;
  margin-right: 0px;
  padding: 0.9rem;
}

@media (max-width:800px) {
  .table .form-check-input {
      padding: 0.4rem;
  }
}
#print-info{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#print-info .outline-button{
  outline: none;
  border-radius: 5px;
  border: 1px solid #FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
  background-color:transparent;
}

#print-info .solid-button{
  outline: none;
  border-radius: 5px;
  border: none;
  background-color:#FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 3.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}
#print-info-working{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 1.2rem;
}

#print-info-working .outline-button{
  outline: none;
  border-radius: 5px;
  border: 1px solid #FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
  background-color:transparent;
}

#print-info-working .solid-button{
  outline: none;
  border-radius: 5px;
  border: none;
  background-color:#FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 3.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}
#print-info-working .disabled-button{
  outline: none;
  border-radius: 5px;
  border: none;
  background-color:#D3D3D3;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1.7rem 3.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}
#print-info .print{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
}
#print-info .print img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
#print-info .print p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #5F5F5F;
}

#rate .solid-button-rate{
  outline: none;
  border: none;
  background-color: #FDA922;
  border-radius: 5px;
  padding: 1.7rem 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color:#2E2E2E
}
.table tbody tr td:last-child{
  text-align: left;
}
.table thead tr th:last-child{
  text-align: left;
}
#control-order #last-order-working{
  text-align: right;
}
#print-info-working{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 1.2rem;
}
#money-btn button{
  border: none;
  outline: none;
  background-color: #FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 1.5rem 1.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#424242;
  line-height: 19.2px;
}
@media (max-width:800px) {
  #money-btn button{
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    text-wrap: nowrap;
  }
}
#cancel-btn button{
  border: none;
  outline: none;
  background-color: #D35252;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#FFFFFF;
  line-height: 19.2px;
}
@media (max-width:800px) {
  #cancel-btn button{
    font-size: 1.2rem;
    padding: 1rem 3rem;
    text-wrap: nowrap;
  }
}

#cancel-under-btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: flex-end;
}
#cancel-under-btn button:first-child{
  border: none;
  outline: none;
  background-color: #FDA922;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#424242;
  line-height: 19.2px;
}
#cancel-under-btn button:last-child{
  border: none;
  outline: none;
  background-color: #D35252;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#FFFFFF;
  line-height: 19.2px;
}

#cancel-under-btn button.start{
  border: none;
  outline: none;
  background-color: #FDA922;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem 4.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#424242;
  line-height: 19.2px;
}
#cancel-under-btn .start.disabled{
  border: none;
  outline: none;
  background-color: #D3D3D3;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem 4.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color:#FFFFFF;
  line-height: 19.2px;
}
/* admin financial report */
.report-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
}
.report-filter .report-print{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
@media (max-width:500px) {
  .report-filter .report-print{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.report-filter .report-print img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.report-filter .report-print p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
}

.report-filter .form {
  width: 40%;
}
.report-filter .form .form-container{
  align-items: center;
}
.report-filter .form .form-container .form-item{
  width: 100%;
}
.report-filter .form .search-icon{
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}
.admin-check{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
.username{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
  margin-bottom: 0.8rem;
}
.email{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #5F5F5F;
  margin-bottom: 0px;
}
#number-table.admin-check{
  padding-bottom: 2rem;
  color: #424242;
  
}
#user-info{
  padding: 0.5rem 1.5rem;
}
#user-status-warn{
  color: #FDA922;
}
#financial td:last-child,#financial  th:last-child{
  text-align-last: right;
}
#user-status-success{
  color: #24C909;
}
#user-status-error{
  color: #D35252;
}
#report3{
  margin-top: 0px;
}