.choose-doctor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem
}

@media (max-width:500px) {
    .choose-doctor {
        gap: 1rem;
    }
}

.main .detail-main .choose-doctor h1 {
    margin-bottom: 0px;
}

.choose-doctor p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.2px;
    color: #424242;
    margin-bottom: 0px;
}

@media (max-width:500px) {
    .choose-doctor h1 {
        font-size: 1.1rem;
    }
    .choose-doctor p {
        font-size: 1.1rem;
    }
}

.table {
    margin-top: 1.2rem;
    padding: 0.8rem
}

.table>:not(caption)>*>* {
    padding: 1.5rem
}

@media (max-width:500px) {
    .table>:not(caption)>*>* {
        padding: 1.2rem
    }
}

.th-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
}

@media (max-width:500px) {
    .table thead tr th {
        font-size: 1.2rem;
    }
}

.table thead tr th {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.2px;
    text-align: right;
    color: #424242;
}

@media (max-width:500px) {
    .table thead tr th {
        font-size: 1.2rem;
    }
}

label.check-table,
.table tbody tr td {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.2px;
    text-align: right;
    color: #424242;
}

@media (max-width:500px) {
    label.check-table,
    .table tbody tr td {
        font-size: 1.6rem;
        text-wrap: nowrap;
    }
}

.table .form-check-input {
    float: right;
    margin-left: 0.6rem;
    margin-right: 0px;
    padding: 0.9rem;
}

@media (max-width:500px) {
    .table .form-check-input {
        padding: 0.4rem;
    }
}

.save-btn-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5.2rem;
    gap: 2.1rem;
}

.save-btn-form .save {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1.6rem 6rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #2E2E2E;
    background-color: #FDA922;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.save-btn-form p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19.2px;
    color: #424242;
    margin-bottom: 0px;
}