.inner-main{
  width: 100%;
}@media (max-width:800px) {
  .main-container {
      grid-template-areas: "header header " "main main";
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
  }
}
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.questionnaire-sub-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 2.1rem;
  margin-top: 3.2rem;
}
.questionnaire-sub-header img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.questionnaire-sub-header p{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
.data-section{
  padding: 3.6rem 1.6rem;
  border-radius: 8px;
  border: 1px solid #DEEEFA;
}
.drag-drop{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.drag-drop img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.drag-drop .second{
  width: 86%;
}
@media (max-width:800px) {
  .drag-drop .second{
    width: 60%;
  }
}
.drag-drop:last-of-type{
  margin-bottom: 0px;
}
.add-variable{
  display: flex;
  justify-content: flex-start
  ;
  padding: 0.8rem;
  align-items: center;
  cursor: pointer;

}
.add-section{
  display: flex;
  justify-content: center
  ;
  padding: 0.8rem;
  align-items: center;
  margin:3.2rem 0rem;
  cursor: pointer;
}
.add-section img,
.add-variable img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.add-section p,
.add-variable p{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
  text-align: right;
  color: #167CC8;
  text-wrap: nowrap;
}
.main-data-content{
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid #167CC8;
}
.inner-main-content{
  padding:1.6rem 3.6rem 3.2rem 0rem 
}

.first-part{
  padding: 0.6rem;
  width: 172px;
  background-color: #E1F1FC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.first-part p{
  font-weight: 500;
  font-size: 1.6rem;
  text-align: right;
  line-height: 19.2px;
  color: #424242;
  margin-bottom: 0px;
}

.main-item{
  margin-bottom: 2rem;
}
.first-part-container header{
  padding: 0rem 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.first-part-container header img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.first-part-container header p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}
.first-part-container .form{
  padding-right: 5.2rem;
}
.concepts-container{
  margin-top: 4.8rem;
  padding: 1.6rem 0rem 1.6rem 1.6rem;
}
.concepts-container .concepts{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #424242;
  margin-bottom: 0px;
}
.concepts-container-item{
  padding-top: 2rem;
}
.trash-icon{
  padding: 0.7rem 4.2rem; 
}
.main-data-content.section-two{
  border:1px solid #FDA922
}
.first-part.section-part{
  background-color: #FDA922B2;
  
}
.save-btn-container.second-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.8rem;
}
.footer-desc{
  padding: 1.5rem 1.6rem;
}
.save-btn-container p{
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #424242;
}