
.search-list .search-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2.4rem 0rem;
  border-bottom: 1px solid #DEEEFA;
  }
.search-list .search-item .search-info{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
}
@media (max-width:500px){
  
.search-list .search-item{
  flex-direction: column;
}
}
.search-list .search-item .search-info img{
  width: 32px;
  height: 31.84px;
  object-fit: cover;
}
.search-list .search-item .search-info h2{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  color: #2E2E2E;
  margin-bottom: 2.5rem;
}
.search-list .search-item .search-info p{
  margin-bottom: 0px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
  line-height: 16.8px;
  color: #424242;
  width: 596px;
}
@media (max-width:800px){
  .search-list .search-item .search-info p{
    width: 400px;
  }
}
@media (max-width:500px){
  .search-list .search-item .search-info p{
    width: 100%;
  }
}
.search-list .search-item button{
  border: none;
  outline: none;
  background-color: #FDA922;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  color: #2E2E2E;
  padding: 1.7rem 6.5rem;
  border-radius: 5px ;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19.2px;
}
@media (max-width:500px) {
  .search-list .search-item button{
    margin-top: 2rem;
  }
}