@media (max-width:800px) {
  .main-container {
      grid-template-areas: "header header " "main main";
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
  }
}
@media(max-width:800px) {
  .menu {
      display: block;
      padding: 1.1rem 1.3rem;
      background-color: #FCFCFC;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  }
  .menu img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
}

@media (max-width:800px) {
  .aside {
      position: absolute;
      z-index: 9999;
      height: calc(100% - 8rem);
      top: 8rem;
  }
  .show-aside {
      display: none;
  }
}
.main .paypal-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
  flex-wrap: wrap;
}
.main .paypal-header li{
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: right;
  color: #424242;
}

.main .paypal-header li:hover,
.main .paypal-header li.active{
  border-bottom: 1px solid #167CC8;
}
.form .form-outer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 0rem;
  border-bottom: 1px solid #E1F1FC;
}

.form .form-outer .form-inner h2{
  font-size: 1.6rem;
  line-height: 19.2px;
  color: #424242;
  text-align: right;
  border-right: 1px solid #E1F1FC;
  margin-bottom: 2rem;
  text-wrap: nowrap;

}
@media (max-width:800px) {
  .form .form-outer{
    flex-wrap: wrap;
    
  }
}
.form .form-outer .form-inner:first-child {
  padding-left: 5.1rem;
  border-left: 1px solid #E1F1FC;
}
@media (max-width:800px) {
  .form .form-outer .form-inner:first-child {
    padding-left: 1rem;
    border-left: none;
    width: 100%;
  }
}
.form .form-outer .form-inner .form-check{
  padding: 0.8rem 0.8rem 0.8rem 7.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.form .form-outer .form-inner .form-check .form-check-input{
  border-color: #167CC8;
  border-radius: 5px;
  width: 23px;
  height: 23px;
  
}
.form .form-outer .form-inner .form-check .form-check-label{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16.8px;
  color: #5F5F5F;
}

.form .form-outer .form-inner:nth-child(2){
  padding-right:2rem;
  padding-left: 4.6rem;
  border-left: 1px solid #E1F1FC;
}
@media (max-width:800px) {
  .form .form-outer .form-inner:nth-child(2) {
    padding-right: 0rem;
    padding-left: 1rem;
    border-left: none;
    width: 100%;
  }
}
@media (max-width:800px) {
  .form .form-outer .form-inner:first-child,.form .form-outer .form-inner:nth-child(2){
    margin-bottom: 2rem;
  }
}
.form .form-outer .form-inner:last-child{
  padding-right: 2rem;
  
}
@media (max-width:800px) {
  .form .form-outer .form-inner:last-child{
    padding-right: 0rem;
    
  }
  
}

.form .form-outer .form-inner:last-child .weeks-check{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}
@media (max-width:800px) {
  .form .form-outer .form-inner:last-child .weeks-check{
  
  width: 100%;
  }
}
.form-inner img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.form .form-container .form-item-outer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;;
  margin-top: 3.2rem;
}
@media (max-width:800px) {
  .form .form-container .form-item-outer{
  flex-direction: column;
  width: 100%;
  }
}
.settings-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 23.3rem;
}
.settings-btn button{
  border:none;
  outline: none;
  background-color: #FDA922;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
  color: #424242;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.2px;
  padding: 1.5rem 5.9rem;
}